<template lang="pug">
  div
    b-modal(
      ref="CategoryModal",
      @hide="goBack()",
      title="Edit category",
      hide-footer
    )
      category-form(:id="$route.params.id", @save="onSave()", @cancel="goBack()")
</template>

<script>
import CategoryForm from '~/components/Category/CategoryForm'
export default {
  name: 'EditCategory',
  components: { CategoryForm },
  mounted () {
    this.$refs.CategoryModal.show()
  },
  methods: {
    onSave () {
      this.$emit('editCategory')
      this.goBack()
    },
    goBack () {
      this.$router.push('/')
    }
  }
}
</script>
