<template lang="pug">
  div
    b-modal(
      ref="CategoryModal",
      @hide="goBack()",
      title="Create category",
      hide-footer
    )
      category-form(@save="onSave()", @cancel="goBack()")
</template>

<script>
import CategoryForm from '~/components/Category/CategoryForm'
export default {
  name: 'CreateCategory',
  components: { CategoryForm },
  mounted () {
    this.$refs.CategoryModal.show()
  },
  methods: {
    goBack () {
      this.$router.push('/')
    },
    onSave () {
      this.$emit('createCategory')
      this.goBack()
    }
  }
}
</script>
