<template lang="pug">
  div
    b-form
      b-form-group(id="input-group-title", label="Title", label-for="input-title")
        b-form-input(id="input-title", v-model="model.title", placeholder="Enter title", required)

      b-form-group(id="checkbox-group-subcategory", label-for="checkbox-subcategory")
        b-form-checkbox(id="checkbox-subcategory", v-model="isSubcategory", :value="true") It is subcategory

      b-form-group(v-if="isSubcategory", id="input-group-category", label="Parent category", label-for="")
        b-form-select(id="input=category", v-model="model.parentId", placeholder="Select category", required)
          b-form-select-option(v-if="category.id !== model.id", v-for="category in categories", :key="category.id", :value="category.id") {{category.title}}

      b-button(variant="primary", @click="save()") Save
      b-button(variant="danger", @click="cancel") Cancel
</template>

<script>
import Category from '~/plugins/api/models/Category'
import { formCreateEditMixin } from '~/components/mixins'

export default {
  name: 'CategoryForm',
  mixins: [formCreateEditMixin(Category)],
  data () {
    return {
      categories: [],
      isSubcategory: false
    }
  },
  watch: {
    'model.parentId' (value) {
      if (value > 0) {
        this.isSubcategory = true
      }
    },
    'isSubcategory' (value) {
      if (!value) {
        this.model.parentId = null
      }
    }
  },
  async created () {
    this.categories = await this.$api.categoryList()
  },
  methods: {
    loadModel (id) {
      return this.$api.readCategory(id)
    },
    create (model) {
      return this.$api.createCategory(model)
    },
    update (id, model) {
      return this.$api.updateCategory(id, model)
    },
    cancel () {
      this.$emit('cancel')
    }
  }
}
</script>
