<template lang="pug">
  div
    b-modal(
      ref="ItemModal",
      @hide="goBack()",
      title="Edit item",
      hide-footer
    )
      item-form(:id="$route.params.id", @save="onSave()", @cancel="goBack()")
</template>

<script>
import ItemForm from '~/components/Item/ItemForm'
export default {
  name: 'EditItem',
  components: { ItemForm },
  mounted () {
    this.$refs.ItemModal.show()
  },
  methods: {
    onSave () {
      this.$emit('createItem')
      this.goBack()
    },
    goBack () {
      this.$router.push('/')
    }
  }
}
</script>
