<template lang="pug">
  div
    b-form
      b-form-group(id="input-group-category", label="Category", label-for="")
        b-form-select(id="input=category", v-model="model.categoryId", placeholder="Select category", required)
          b-form-select-option(v-for="category in categories", :key="category.id", :value="category.id") {{category.title}}
      b-form-group(id="input-group-title", label="Title", label-for="input-title")
        b-form-input(id="input-title", v-model="model.title", placeholder="Enter title", required)
      b-form-group(id="input-group-price", label="Price", label-for="input-price")
        b-form-input(id="input-price", type="number", v-model="model.price", placeholder="Enter price")
      b-form-group(id="input-group-picture", label="Picture URL", label-for="input-picture")
        b-form-input(id="input-picture", v-model="model.picture", placeholder="Enter url of picture")
      b-form-group(id="input-group-description", label="Description", label-for="textarea-description")
        b-form-textarea(id="textarea-description", v-model="model.description", placeholder="Enter description", rows="3")
      b-button(variant="primary", @click="save()") Save
      b-button(variant="danger", @click="cancel") Cancel
</template>

<script>
import Item from '~/plugins/api/models/Item'
import { formCreateEditMixin } from '~/components/mixins'

export default {
  name: 'ItemForm',
  mixins: [formCreateEditMixin(Item)],
  data () {
    return {
      categories: []
    }
  },
  async created () {
    this.categories = await this.$api.categoryList()
  },
  methods: {
    loadModel (id) {
      return this.$api.readItem(id)
    },
    create (model) {
      return this.$api.createItem(model)
    },
    update (id, model) {
      return this.$api.updateItem(id, model)
    },
    cancel () {
      this.$emit('cancel')
    }
  }
}
</script>
