<template lang="pug">
  .content-holder
    .content-header
      b-navbar(variant="dark", type="dark")
        b-navbar-nav
          b-nav-item
            b-navbar-brand(href="/") AdminPanel
          b-nav-item.ml-3(left)
            nuxt-link.nav-link(:to="'/orders'") Orders
        b-navbar-nav.ml-auto
          b-nav-item(right)
            b-button(variant="outline-dark", @click="logout()") Logout
    main.content-page
      nuxt
</template>

<script>
export default {
  name: 'DefaultLayout',
  methods: {
    logout () {
      this.$store.dispatch('logout')
      this.$router.push('/login')
    }
  }
}
</script>

<style lang="stylus">
.btn.btn-outline-dark
  background-color white
  &:hover
    color #343a40
</style>
