<template lang="pug">
  div
    nuxt-child(
      @createCategory="loadCategories()",
      @editCategory="loadCategories()",
      @createItem="loadItems()",
      @editItem="loadItems()"
    )
    .container
      .row
        .col.col-lg-6
          h2.font-weight-bold.mt-3.mt-sm-4.mt-lg-5 Categories
          b-button(variant="success", @click.prevent="createCategory") Add category
          b-table.mt-3(:items="categories", :fields="categoryFields")
            template(#cell(actions)="data")
              .d-flex
                b-button.mr-2(variant="outline-primary", size="sm", @click.prevent="editCategory(data.item.id)") Edit
                b-button(variant="outline-danger", size="sm", @click.prevent="deleteCategory(data.item.id)") Delete
        .col.col-lg-6
          h2.font-weight-bold.mt-3.mt-sm-4.mt-lg-5 Items
          b-button(variant="success", @click.prevent="createItem") Add item
          b-table.mt-3(:items="items", :fields="itemFields")
            template(#cell(actions)="data")
              .d-flex
                b-button.mr-2(variant="outline-primary", size="sm", @click.prevent="editItem(data.item.id)") Edit
                b-button(variant="outline-danger", size="sm", @click.prevent="deleteItem(data.item.id)") Delete
</template>

<script>
import CategoryForm from '~/components/Category/CategoryForm'
import ItemForm from '~/components/Item/ItemForm'

const itemFields = [
  {
    key: 'title',
    sortable: true,
    label: 'Item name'
  },
  {
    key: 'price',
    sortable: true,
    label: 'Price'
  },
  {
    key: 'actions'
  }
]

const categoryFields = [
  {
    key: 'title',
    sortable: true,
    label: 'Category name'
  },
  {
    key: 'actions'
  }
]

export default {
  name: 'IndexPage',
  components: { ItemForm, CategoryForm },
  layout: 'default',
  data () {
    return {
      categories: [],
      items: [],
      itemFields: Object.freeze(itemFields),
      categoryFields: Object.freeze(categoryFields)
    }
  },
  async created () {
    if (!this.$store.getters.isAuthorized) {
      await this.$router.push('/login')
      return
    }
    await this.loadCategories()
    await this.loadItems()
  },
  methods: {
    async loadCategories () {
      this.categories = await this.$api.categoryList()
    },
    async loadItems () {
      this.items = await this.$api.itemList()
    },
    createCategory () {
      this.$router.push('/categories/create')
    },
    editCategory (id) {
      this.$router.push(`/categories/edit/${id}`)
    },
    async deleteCategory (id) {
      await this.$api.deleteCategory(id)
      await this.loadCategories()
    },
    createItem () {
      this.$router.push('/items/create')
    },
    editItem (id) {
      this.$router.push(`/items/edit/${id}`)
    },
    async deleteItem (id) {
      await this.$api.deleteItem(id)
      await this.loadItems()
    }
  }
}
</script>
