<template lang="pug">
  .container.py-5
    h2.mb-2 Orders
    .row
      .col-6.mb-3(v-for="(order, index) in orders", :key="order.id")
        .card.h-100
          .card-header
            span Order {{index}} -&nbsp;
            span.order-status(:class="order.status === 'notConfirmed' ? 'not-confirmed' : order.status.toLowerCase()") {{order.status === 'notConfirmed' ? 'not confirmed'.toUpperCase() : order.status.toUpperCase()}}
          .card-body
            .d-flex.justify-content-between
              ul
                li(v-for="item in order.items", :key="`${order.id}-${item.id}`") {{item.title}} - {{item.price}}$ - {{item.quantity}} pieces
              .d-flex.flex-column
                b-button.mb-2(v-if="order.status !== 'canceled' && order.status !== 'finished'", variant="danger", size="sm", @click="cancel(order.id)") Cancel
                b-button.mb-2(v-if="order.status === 'notConfirmed'", variant="primary", size="sm", @click="confirm(order.id)") Confirm
                b-button.mb-2(v-if="order.status === 'confirmed'", variant="secondary", size="sm", @click="finish(order.id)") Finish
</template>

<script>
// import Order from '~/plugins/api/models/Order'
//
// const orders = [
//   {
//     id: '123',
//     status: 'canceled',
//     items: [
//       {
//         id: 2,
//         title: 'Marshmallow',
//         price: 1200,
//         quantity: 1
//       },
//       {
//         id: 3,
//         title: 'Pie',
//         price: 300,
//         quantity: 4
//       },
//       {
//         id: 4,
//         title: 'Cookies',
//         price: 100,
//         quantity: 3
//       }
//     ]
//   },
//   {
//     id: '456',
//     status: 'confirmed',
//     items: [
//       {
//         id: 0,
//         title: 'Cake',
//         price: 400,
//         quantity: 1
//       },
//       {
//         id: 1,
//         title: 'Lollipop',
//         price: 600,
//         quantity: 2
//       }
//     ]
//   },
//   {
//     id: '789',
//     status: 'finished',
//     items: [
//       {
//         id: 5,
//         title: 'Apple',
//         price: 400,
//         quantity: 1
//       },
//       {
//         id: 6,
//         title: 'Pineapple',
//         price: 600,
//         quantity: 2
//       },
//       {
//         id: 7,
//         title: 'Banana',
//         price: 600,
//         quantity: 2
//       }
//     ]
//   },
//   {
//     id: '101112',
//     status: 'notConfirmed',
//     items: [
//       {
//         id: 5,
//         title: 'Apple',
//         price: 400,
//         quantity: 1
//       },
//       {
//         id: 6,
//         title: 'Pineapple',
//         price: 600,
//         quantity: 2
//       },
//       {
//         id: 7,
//         title: 'Banana',
//         price: 600,
//         quantity: 2
//       }
//     ]
//   }
// ]

export default {
  name: 'Orders',
  data () {
    return {
      orders: []
    }
  },
  async created () {
    if (!this.$store.getters.isAuthorized) {
      await this.$router.push('/login')
    } else {
      await this.loadOrders()
    }
    // this.orders = orders.map(e => new Order(e))
  },
  methods: {
    async loadOrders () {
      this.orders = await this.$api.orderList()
    },
    async cancel (id) {
      await this.$api.cancelOrder(id)
      await this.loadOrders()
    },
    async confirm (id) {
      await this.$api.confirmOrder(id)
      await this.loadOrders()
    },
    async finish (id) {
      await this.$api.finishOrder(id)
      await this.loadOrders()
    }
  }
}
</script>

<style lang="stylus" scoped>
.order-status
  &.canceled
    color var(--red)
  &.confirmed
    color var(--blue)
  &.finished
    color var(--success)
  &.not-confirmed
    color grey
</style>
